html {
    height: 100%;
    margin: 0px;
  }
body {
    overscroll-behavior-y: none !important;
    height: 100%;
    margin: 0px;
}
.splashscreen {
    position: fixed;
    margin: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.cards-container {
    column-break-inside: avoid;
}
 
.cards-container .card {
    display: inline-block;
    overflow: visible;
    width:100% !important;
}
  
@media only screen and (max-width: 600px) {
    .cards-container {
      -webkit-column-count: 1;
      -moz-column-count: 1;
      column-count: 1;
    }
}
  
@media only screen and (min-width: 601px) {
    .cards-container {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
    }
}

@media only screen and (min-width: 993px) {
    .cards-container {
      -webkit-column-count: 3;
      -moz-column-count: 3;
      column-count: 3;
    }
}
  
.nav-wrapper{
    padding-right: 3%;
}        

.title {
    padding-left: 1%;
    font-size: 18pt;
}
  
.btn-block {
    width:100%;
}